* {
  font-family: 'Roboto', 'sans-serif';
}

.content {
  padding: 1rem;
}

.content {
  margin: 0;
}

ol.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.pokemons li {
  margin: 0.5rem;
  padding: 2rem 1rem;
  background-color: #14a06f;
  height: 100px;
  color: #fff;
  border-radius: 1rem;
}
